main {
  margin-top: 66px;
}

/* ------------------------------------------
  ページタイトル
------------------------------------------ */
.page_title_wrapper {
  height: 0;
  padding-top: 26.7%;
  background-image: url(/assets/img/sub_title_img1.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
}

.sub_title_text_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sub_title_text {
  font-size: 2.6rem;
  font-weight: bold;
  color: #fff;
  letter-spacing: .05em;
}

@media screen and (min-width: 767px) {
  .page_title_wrapper {
    padding-top: 14.3%;
    background-image: url(/assets/img/sub_title_img1_pc.jpg);
  }

  .sub_title_text {
    font-size: 4.2rem;
  }
}

/* ------------------------------------------
  カテゴリー
------------------------------------------ */
.category {
  margin: 50px auto 0;
}

.category_title {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 16px 0 16px 32px;
  background-color: #FCF4EC;
  letter-spacing: .05em;
  position: relative;
}

.category_title::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 16px;
  height: 2px;
  background-color: #EB5505;
}

.category_list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.category_list_item {
  width: 50%;
  border: 2px solid #FCF4EC;
}

.category_list_item:nth-child(2n) {
  border-left: none;
}

.category_list_item:nth-child(n+3) {
  border-top: none;
}

.category_list_item_link {
  display: block;
  height: 100%;
}

.category_list_item_link.family {
  background-image: url(../img/category_icon1.png);
  background-size: 17px 24px;
  background-repeat: no-repeat;
  background-position: left 24px center;
}

.category_list_item_link.mortage {
  background-image: url(../img/category_icon2.png);
  background-size: 27px 25px;
  background-repeat: no-repeat;
  background-position: left 19px center;
}

.category_list_item_link.mortage {
  background-image: url(../img/category_icon2.png);
  background-size: 27px 25px;
  background-repeat: no-repeat;
  background-position: left 19px center;
}

.category_list_item_link.insurance {
  background-image: url(../img/category_icon3.png);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: left 21px center;
}

.category_list_item_link.property {
  background-image: url(../img/category_icon4.png);
  background-size: 20px 21px;
  background-repeat: no-repeat;
  background-position: left 21px center;
}

.category_list_item_text_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 15px 20px 57px;
  height: 100%;
  background-image: url(../img/category_arrow.png);
  background-size: 5px 10px;
  background-position: right 14px center;
  background-repeat: no-repeat;
}

.category_list_item_text {
  font-size: 1.4rem;
  letter-spacing: .05em;
  font-weight: bold;
}

.category_list_item_text_s {
  font-size: 1.1rem;
  letter-spacing: 0;
  font-weight: normal;
  margin-top: 6px;
  display: block;
}

.category_list_item_text2 {
  margin-top: 10px;
  font-size: 1.4rem;
  letter-spacing: .05em;
  font-weight: bold;
  display: block;
}

@media screen and (min-width: 767px) {
  .category_title {
    font-size: 2rem;
    padding: 18px 0 18px 32px;
  }
  
  .category_list {
    flex-wrap: no-wrap;
    margin-top: 40px;
  }
  
  .category_list_item {
    width: calc((100% - 60px) / 4);
    border: 2px solid #FCF4EC;
    margin-left: 20px;
  }

  .category_list_item:first-child {
    margin-left: 0;
  }
  
  .category_list_item:nth-child(2n) {
    border-left: 2px solid #FCF4EC;
  }
  
  .category_list_item:nth-child(n+3) {
    border-top: 2px solid #FCF4EC;
  }
  
  .category_list_item_link {
    display: block;
    height: 100%;
  }
  
  .category_list_item_link.family {
    background-image: url(../img/category_icon1.png);
    background-size: 17px 24px;
    background-repeat: no-repeat;
    background-position: left 24px center;
  }
  
  .category_list_item_link.mortage {
    background-image: url(../img/category_icon2.png);
    background-size: 27px 25px;
    background-repeat: no-repeat;
    background-position: left 19px center;
  }
  
  .category_list_item_link.mortage {
    background-image: url(../img/category_icon2.png);
    background-size: 27px 25px;
    background-repeat: no-repeat;
    background-position: left 19px center;
  }
  
  .category_list_item_link.insurance {
    background-image: url(../img/category_icon3.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: left 21px center;
  }
  
  .category_list_item_link.property {
    background-image: url(../img/category_icon4.png);
    background-size: 20px 21px;
    background-repeat: no-repeat;
    background-position: left 21px center;
  }
  
  .category_list_item_text_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 15px 20px 57px;
    height: 100%;
    background-image: url(../img/category_arrow.png);
    background-size: 5px 10px;
    background-position: right 14px center;
    background-repeat: no-repeat;
  }
  
  .category_list_item_text {
    font-size: 1.4rem;
    letter-spacing: .05em;
    font-weight: bold;
  }
  
  .category_list_item_text_s {
    font-size: 1.1rem;
    letter-spacing: 0;
    font-weight: normal;
    margin-top: 6px;
    display: block;
  }
  
  .category_list_item_text2 {
    margin-top: 10px;
    font-size: 1.4rem;
    letter-spacing: .05em;
    font-weight: bold;
    display: block;
  }
}

/* ------------------------------------------
  新着記事
------------------------------------------ */
.new_posts {
  margin-top: 50px;
}

.new_posts_title {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 16px 0 16px 32px;
  background-color: #FCF4EC;
  letter-spacing: .05em;
  position: relative;
}

.new_posts_title::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 16px;
  height: 2px;
  background-color: #EB5505;
}

.new_posts_list1 {
  margin-top: 25px;
}

.new_posts_list1_item {
  margin-top: 30px;
}

.new_posts_list1_item:first-child {
  margin-top: 0;
}

.new_posts_list1_item_link {
  display: block;
}

.new_posts_list1_img_wrapper {
  position: relative;
}

.new_posts_list1_img_label {
  position: absolute;
  top: 10px;
  left: 0;
  display: block;
  width: 70px;
  height: 25px;
  background-image: url(../img/label_new.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: .05em;
  line-height: 25px;
  text-align: center;
}

.new_posts_list1_label {
  margin-top: 20px;
  display: flex;
  align-items: center
}

.new_posts_list1_label_cat {
  font-size: 1.1rem;
  padding: 4px 6px;
  background-color: #EEEEEE;
  letter-spacing: .1em;

}

.new_posts_list1_label_date {
  font-size: 1.2rem;
  font-weight: bold;
  color: #888888;
  margin-left: 10px;
}

.new_posts_list1_title {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 15px;
}

.new_posts_list2 {
  margin-top: 30px;
}

.new_posts_list2_item {
  margin-top: 16px;
}

.new_posts_list2_item:first-child {
  margin-top: 0;
}

.new_posts_list2_item_link {
  display: block;
}

.new_posts_list2_item_link_inner {
  display: flex;
  align-items: flex-start;
}

.new_posts_list2_img {
  width: 38.8%;
  height: 61.5%;
}

.new_posts_list2_text_wrapper {
  margin-left: 15px;
}

.new_posts_list2_label_cat {
  display: inline-block;
  font-size: 1.1rem;
  padding: 4px 6px;
  background-color: #EEEEEE;
  letter-spacing: .1em;

}

.new_posts_list2_label_date {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  color: #888888;
  margin-left: 10px;
}

.new_posts_list2_title {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 15px;
}

@media screen and (min-width: 767px) {
  .new_posts {
    margin-top: 50px;
  }
  
  .new_posts_title {
    font-size: 2rem;
    padding: 18px 0 18px 32px;
  }
  
  .new_posts_list1 {
    margin-top: 40px;
  }
  
  .new_posts_list1_item {
    width: calc((100% - 40px) / 2);
  }

  .new_posts_list1_item:first-child {
    float: left;
  }

  .new_posts_list1_item:nth-child(n+2) {
    float: right;
    margin-bottom: 40px;
  }
  
  .new_posts_list1_item:nth-child(n+2) .new_posts_list1_item_link_inner {
    display: flex;
  }
  
  .new_posts_list1_img_label {
    top: 16px;
  }

  .new_posts_list1_item:nth-child(n+2) .new_posts_list1_img {
    width: 54.1%;
    height: 61.8%;
  }

  .new_posts_list1_item:nth-child(n+2) .new_posts_list1_text_wrapper {
    margin-left: 25px;
  }
  
  .new_posts_list1_item:nth-child(n+2) .new_posts_list1_label {
    margin-top: 0;
  }
  
  .new_posts_list1_title {
    font-size: 1.8rem;
  }
  
  .new_posts_list2 {
    clear: both;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    padding-top: 40PX;
  }
  
  .new_posts_list2_item {
    margin-top: 25px;
    width: calc((100% - 40px) / 2);
  }
  
  .new_posts_list2_item:nth-child(2n) {
    margin-left: 40px;
  }


  .new_posts_list2_item:first-child {
    margin-top: 0;
  }
  
  .new_posts_list2_img {
    width: 37.7%;
  }
  
  .new_posts_list2_text_wrapper {
    margin-left: 15px;
  }
  
  .new_posts_list2_title {
    font-size: 1.6rem;
  }
}

/* ------------------------------------------
  カテゴリ別ランキング
------------------------------------------ */
.ranking {
  margin-top: 50px;
}

.ranking_title {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 16px 0 16px 32px;
  background-color: #FCF4EC;
  letter-spacing: .05em;
  position: relative;
}

.ranking_title::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 16px;
  height: 2px;
  background-color: #EB5505;
}

.ranking_item {
  margin-top: 35px;
}

.ranking_item_title {
  border: 1px solid #DC0F10;
  border-radius: 4px;
  text-align: center;
  position: relative;
}

.ranking_item_title::after {
  display: block;
  content:  "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  width: 16px;
  height: 8px;
  transform: translateX(-50%);
  background-image: url(../img/bubble_bottom.jpg);
  background-position:  center;
  background-repeat: no-repeat;
  background-size: contain;
}

.ranking_title_inner {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
}

.ranking_title_inner.family {
  padding: 15px 0 15px 30px;
  background-image: url(../img/category_icon1.png);
  background-size: 17px 24px;
  background-position: left top 12px;
  background-repeat: no-repeat;
}

.ranking_title_inner.mortage {
  padding: 15px 0 15px 33px;
  background-image: url(../img/category_icon2.png);
  background-size: 23px 20px;
  background-position: left top 12px;
  background-repeat: no-repeat;
}

.ranking_title_inner.insurance {
  padding: 15px 0 15px 33px;
  background-image: url(../img/category_icon3.png);
  background-size: 22px 22px;
  background-position: left top 12px;
  background-repeat: no-repeat;
}

.ranking_title_inner.property {
  padding: 15px 0 15px 30px;
  background-image: url(../img/category_icon4.png);
  background-size: 20px 21px;
  background-position: left top 12px;
  background-repeat: no-repeat;
}

.ranking_item_list {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
}

.ranking_item_list:first-child {
  margin-top: 0;
}

.ranking_item_list_item_img_wrapper {
  position: relative;
}

.ranking_item_list_item {
  margin-top: 32px;
}

.ranking_item_list_item:nth-child(n+2) {
  width: calc((100% - 20px) / 2);
}

.ranking_item_list_item:nth-child(odd) {
  margin-left: 20px;
}

.ranking_item_list_item:first-child {
  width: 100%;
  margin-left: 0;
}

.ranking_item_list_item:first-child .ranking_item_list_item_label {
  margin-top: 12px;
}

.ranking_item_list_item_img_label {
  position: absolute;
  top: 0;
  left: 0;
}

.ranking_item_list_item_text_wrapper {
  margin-top: 10px;
}

.ranking_item_list_item_text_wrapper:first-child {
  margin-top: 12px;
}

.ranking_item_list_item_label_cat {
  display: inline-block;
  font-size: 1.1rem;
  padding: 4px 6px;
  background-color: #EEEEEE;
  letter-spacing: .1em;
}

.ranking_item_list_item_label_date {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  color: #888888;
  margin-left: 10px;
}

.ranking_item_list_item_title {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 6px;
}

.ranking_item_list_item:first-child .ranking_item_list_item_label_cat {
  display: inline-block;
  font-size: 1.1rem;
  padding: 4px 6px;
  background-color: #EEEEEE;
  letter-spacing: .1em;
}

.ranking_item_list_item:first-child .ranking_item_list_item_label_date {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  color: #888888;
  margin-left: 10px;
}

.ranking_item_list_item:first-child  .ranking_item_list_item_title {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 8px;
}

/* .ranking_item_list_item_label_cat {
  width: calc((100% - 20px) / 2);
} */

.ranking_item_list_item_img_label {
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 46px;
  height: 46px;
  display: block;
}

.ranking_item_list_item:first-child .ranking_item_list_item_img_label {
  background-image: url(../img/ranking_item_list_item_img_label_back.png);
}

.ranking_item_list_item:nth-child(2) .ranking_item_list_item_img_label {
  background-image: url(../img/ranking_item_list_item_img_label_back2.png);
}

.ranking_item_list_item:nth-child(3) .ranking_item_list_item_img_label {
  background-image: url(../img/ranking_item_list_item_img_label_back3.png);
}

.ranking_item_list_item:nth-child(4) .ranking_item_list_item_img_label {
  background-image: url(../img/ranking_item_list_item_img_label_back4.png);
}

.ranking_item_list_item:nth-child(5) .ranking_item_list_item_img_label {
  background-image: url(../img/ranking_item_list_item_img_label_back5.png);
}

.go_to_list_link_wrapper {
  margin: 40px auto 0;
}

.go_to_list_link {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: .05em;
  line-height: 56px;
  width: 320px;
  height: 56px;
  border-radius: 28px;
  background: #eb5505;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.08);
  margin: 0 auto;
}

@media screen and (min-width: 767px) {
  .cat_tab_list_wrapper {
    margin-top: 40px;
  }

  .cat_tab_list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .ranking_item_title {
    border-radius: 0;
    border: none;

  }

  .ranking_title_inner.family {
    padding: 22px 0 22px 38px;
    background-position: left top 18px;
  }
  
  .ranking_title_inner.mortage {
    padding: 22px 0 22px 38px;
    background-size: 27px 25px;
    background-position: left top 18px;
  }
  
  .ranking_title_inner.insurance {
    padding: 22px 0 22px 38px;
    background-size: 25px 25px;
    background-position: left top 19px;
  }
  
  .ranking_title_inner.property {
    padding: 22px 0 22px 38px;
    background-position: left top 21px;
  }
  
  .ranking_item_title::after {
    display: none;
  }

  .ranking_item_list {
    display: block;
  }

  .ranking_item_list_item:first-child {
    width: 50%;
    float: left;
  }

  .ranking_item_list_item:nth-child(n+2) {
    width: 45%;
    float: right;
   }

   .ranking_item_list_item:nth-child(n+3) {
    margin-top: 16px;
   }

  .ranking_item_list_item:nth-child(n+2) .ranking_item_list_item_img_wrapper {
    width: 35.1%;
    flex-shrink: 0;
  }

  .ranking_item_list_item:nth-child(n+2) .ranking_item_list_item_text_wrapper {
    margin-left: 16px;
    margin-top: 0;
  }

  .go_to_list_link_wrapper {
    clear: both;
    padding-top: 50px;
    margin-top: 0;
  }

  .go_to_list_link {
  }

  .ranking_item_list_item_link_inner {
    display: flex;
    align-items: flex-start;
  }

  .ranking_item_list_item:first-child .ranking_item_list_item_link_inner {
    display: block;
  }

  .ranking_item_list_item:first-child .ranking_item_list_item_title {
    font-size: 2rem;
    line-height: 1.2;
    margin-top: 15px;
  }

  .ranking_item_list_item:first-child  .ranking_item_list_item_text_wrapper {
    margin-top: 16px;
  }

  .cat_tab {
    cursor: pointer;
    border: 1px solid #EEEEEE;
    width: 24.4%;
    background-color: #fff;
    position: relative;
    z-index: 2;
  }

  .cat_tab.active {
    border: 1px solid #EB5505;
    border-bottom: 1px solid #fff;
    padding-bottom: 11px;
    position: relative;
    z-index: 2;
  }

  .cat_panel_area {
    margin-top: -2px;
  }

  .ranking_item {
    padding: 50px 45px;
    display: none;
    margin-top: 0;
  }
  
  .ranking_item.active {
    display: block;
    border: 1px solid #EB5505;
  }
  

  
  

}